---
layout: page
title: Software
---

<table style="width: 100%;">
  <tbody>
    {% for item in site.data.software.software %}
      {% if item.number == '1' %}
        {% assign border = "" %}
      {% else %}
        {% assign border = "border-bottom: 1px solid #e9e9e9;" %}
      {% endif %}
      <tr height="120px">
        <td style="text-align:center; {{ border }}">
          <a href="{{ item.url }}"><img draggable="false" src="/assets/images/{{ item.cover }}" style="max-height:100px; max-width:135px; border-radius: 3%;"></a>
        </td>
        <td style="width:100%; vertical-align:middle; padding-left:15px; padding-bottom:10px; {{ border }}">
          <span id="S{{ item.number }}" style="font-size: 10px">S{{ item.number }}</span>
          <span>{{ item.title }}</span>
          <br>
          {% for btn in item.links %}
            <a class="btn" href="{{ btn.url }}">{{ btn.title }}</a>
          {% endfor %}
          <a class="github-button" href="https://github.com/{{ item.id }}" data-icon="octicon-star" data-show-count="true" aria-label="Star {{ item.id }} on GitHub">Star</a> <a class="github-button" href="https://github.com/{{ item.id }}/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork {{ item.id }} on GitHub">Fork</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br><br>
