<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Farid Rashidi</title>
  <meta name="description" content="Farid Rashidi – Predoctoral fellow at the National Cancer Institute (NCI) and PhD student at the Indiana University Bloomington (IUB)">
  <meta name="author" content="Farid Rashidi">
  <meta name="keywords" content="Farid Rashidi, Farid Rashidi Mehrabadi">
  <meta name="robots" content="index, follow">
  
  <link rel="icon" type="image/png" href="/images/logo.ico" sizes="16x16">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
  <link rel="stylesheet" href="/assets/bootstrap.css">
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="/assets/jquery.js"></script>
  <script src="/assets/bootstrap.js"></script>
  <script src="/assets/main.js"></script>
  <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
  <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
  <script async defer src="/assets/buttons.js"></script>
</head>