<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html" style="font-weight: bold; font-size: 120%"> Farid Rashidi </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/publications.html">Publications</a>
            </li>
            <li>
              <a href="/software.html">Software</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<header class="intro-header" style="background-image: url('img/white.jpg'); margin: 0px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                </div>
            </div>
        </div>
    </div>
</header>