<div style="float:left">
  <h1 class="site-title"><strong>Farid</strong> Rashidi</h1>
  <ul class="social-media-list">
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fa fa-twitter-square"></i>
        <span class="username">Twitter</span>
      </a>
    </li> 
    <li>
      <a href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github-square"></i>
        <span class="username">GitHub</span></a>
    </li>
    <li>
      <a href="https://youtube.com/{{ site.youtube_username }}">
        <i class="fa fa-youtube-square"></i>
        <span class="username">YouTube</span></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
        <i class="fa fa-linkedin-square"></i>
        <span class="username">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://scholar.google.com/citations?user={{ site.scholar_username }}">
        <i class="ai ai-google-scholar-square ai-1x"></i>
        <span class="username">Google Scholar</span>
      </a>
    </li>
    <br/>
    <li>
      <i class="fa fa-building"></i>
      <span class="username">2-6300, bldg10, <a href="https://goo.gl/maps/XtuHbcXNd1tEC5us8">NIH</a></span>
    </li>
    <li>
      <i class="fa fa-envelope"></i>
      <span class="username">frashidi AT iu DOT edu</span>
    </li>
  </ul>
</div>