<a href="https://twitter.com/{{ site.twitter_username }}">
  <span class="fa-stack">
    <i class="fa fa-twitter-square" style="font-size:32px"></i>
  </span>
</a>
<a href="https://github.com/{{ site.github_username }}">
  <span class="fa-stack">
    <i class="fa fa-github-square" style="font-size:32px"></i>
  </span>
</a>
<a href="https://youtube.com/{{ site.youtube_username }}">
  <span class="fa-stack">
    <i class="fa fa-youtube-square" style="font-size:32px"></i>
  </span>
</a>
<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
  <span class="fa-stack">
    <i class="fa fa-linkedin-square" style="font-size:32px"></i>
  </span>
</a>
<a href="https://orcid.org/{{ site.orcid_username }}">
  <span class="fa-stack">
    <i class="ai ai-orcid-square ai-1x" style="font-size:32px"></i>
  </span>
</a>
<a href="https://scholar.google.com/citations?user={{ site.scholar_username }}">
  <span class="fa-stack">
    <i class="ai ai-google-scholar-square ai-1x" style="font-size:32px"></i>
  </span>
</a>
<br>
<i class="fa fa-building"></i>
<span>Room 3044, Building 37, <a href="https://goo.gl/maps/XtuHbcXNd1tEC5us8">NIH</a></span>
<br>
<i class="fa fa-envelope"></i>
<span>frashidi AT iu DOT edu</span>